#arraySizeLabel {
    -fx-padding: 0 10px;
    -fx-font-size: 16;
}

#arraySizeChoiceBox {
    -fx-font-size: 16;
}

#startButton, #stopButton, #nextButton, #prevButton {
    -fx-font-size: 18;
    -fx-end-margin: 20;
}

#valueField {
    -fx-padding: 0;
}

.compare-highlight {
    -fx-control-inner-background: yellow;
}
