#arraySizeLabel {
    -fx-padding: 0 10px;
    -fx-font-size: 16;
}

#arraySizeChoiceBox {
    -fx-font-size: 16;
}

#startButton, #stopButton, #nextButton, #prevButton {
    -fx-font-size: 18;
    -fx-end-margin: 20;
}

#valueField {
    -fx-font-size: 16;
    -fx-padding: 0;
}

.border-bottom {
    -fx-border-color: black;
    -fx-border-width: 0 0 0.5 0;
    -fx-border-style: solid;
}

.text-field:disabled {
    -fx-opacity: 0.8;
}

.cell-comparison {
    -fx-control-inner-background: #ffdf62;
}

.cell-overwrite {
    -fx-control-inner-background: #1ec90a;
}

#indexLabel {
    -fx-text-fill: #e50000;
    -fx-font-size: 16;
}
